@import url(reset.css);

body,
html {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

/* .visible{
    display: block;
}

.hide{
    display: none;
} */

#chatbubble{
    position: fixed;
    right: 20px;
    top: 82vh;
    height: 60px;
    z-index: 50;
}

#chattext{
    position: fixed;
    display: none;
    right: 30px;
    top: 72vh;
    height: 60px;
    cursor: pointer;
    z-index: 2;
}

#bot{
    width: 400px;
    height: 0px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    background: transparent;
}

#close{
    position: fixed;
    right: 22px;
    bottom: 469px;
    font-size: 1.5em;
    color: #fff;
    display: none;
    cursor: pointer;
}

.header_menu{
    height: 420px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    justify-content: left;
    display: none;
    width: 100%;
}

.header_menu ul{
    list-style: none;
    display: flex;
    font-size: 0.8em;
    align-items: center;
    padding-right: 50px;
    text-align: center;
}
.header_menu li a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.header_menu li {
    padding: 10px;
    min-width: 75px;

}

.header_menu ul{
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding-top: 40px;
}
.nav_line{
    display: none;
}
.header-link{
    font-size: 3em;
}

#header_name h3{
    padding: 15px 0 15px 50px;
    letter-spacing: 8px;
    font-size: 2em;
    display: none;
}

.nav_line{
    padding: 8px;
}

.header{
    z-index: 50;
    position: fixed;
    width: 100%;
}

section{
    width: 100%;
    /* background-color: black; */
}

#home_section{
    height: 100%;
    min-height: 100vh;
    background-color: black;
}

#main_heading{
    padding-top: 8vh;
    color: #fff;
    padding: 80px 50px;
    position: relative;
    transition: font-size .20s ease-in; 
    font-size: 0.8em;
    padding-bottom: 0vh;
}

#main_heading h2{
    align-items: center;
    display: flex;
    color: #00A0E5;
    font-size: 2em;
    letter-spacing: 16px;
    padding-bottom: 10px;
    padding-left: 4px;
}

#main_heading h1{
    font-size: 3em;
    padding-bottom: 10px;
}

#main_heading h3{
    padding: 0;
    font-size: 1.2em;
}

#dropDown{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 99vh;
    transform: translateY(-180%);
    left: 42%;
    transition: left .25s ease-in;
}

#heading_bottom p{
    position: absolute;
    top: 84vh;
    transform: translateY(-100%);
    left: 40%;
    color: white;
    font-size: 0.8em;
    transition: left .25s ease-in;
}

#TFMlogo_heading{
    /* margin-top: 10vh; */
    position: relative;
    transition: margin-top .25s ease-in; 
}
#TFMLogo{
    margin-left: 30px;
    margin-top: 0vh;
    transition: height .25s ease-in;
    height: 50px;
}

#hamburger{
    position: fixed;
    width: 35px;
    right: 20px;
    top: 24px;
    display: block;
    z-index: 10;
    cursor: pointer;
}

#hamburgerBlack{
    position: fixed;
    width: 35px;
    right: 20px;
    top: 24px;
    display: none;
    z-index: 10;
    cursor: pointer;
}

#hamburgerCont{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 75px;
}
.header-link:hover{
    color: white;
}
#services_section {
    background: white;
    height: 100%;
    background-image: none;
    /* background-image: url("../images/Man.png"); */
    
    /* height: 1000px; */
    font-size: 0.8em;
    transition: font-size .20s ease-in;
}

#services_section h2{
    color: #00A0E5;
    font-weight: lighter;
    font-size: 4em;
    margin-left: 20px;
    padding-top: 70px;
    transition: font-size .25s ease-in;
}
#services_section h3 h4{
    color: black;
}

#subSection_par{
    color: black;
    font-size: 1.2em;
    width: 90%;;
    margin: 20px;
    transition: width .20s ease-in;
    font-weight: lighter;
}
.subSection{
    margin-left: auto;
    text-align: left;
    margin-bottom: 50px;
}

.subSection h3{
    margin: 30px 20px 0 20px;
    font-size: 1.2em;
    text-align: left;
}

.services_main{
    margin: 20px;
}

.serv_sections{
    padding: 10px 0;
}

.serv_sections h4{
    font-size: 1.5em;
    padding: 10px 0;
}

.service_shortDescr{
    font-weight: lighter;
    font-size: 1.2em;
}

#sdWan_section{
    color: #fff;
    font-weight: lighter;
    height: 100%;
    padding-bottom: 20px;
    background-color: black;
}
.sdHome{
    margin: 20px;
}
.sdHome h2{
    padding-top: 70px;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: lighter;
}

.sdHomeDescr p{
    padding-bottom: 20px;
}

.sdIconsHome{
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#hybridIcon{
    height: 95px;
    padding: 15px;
}
#lifecycleIcon{
    height: 95px;
    padding: 15px;
}
#cloudIcon{
    height: 90px;
    padding: 20px 15px;
}
#overview_section{
    height: 10%;
    background-color: #00A0E5;
}
#overviewCont{
    background-color: rgba(0, 160, 229, 0.75);
    height: 100%;
}
#overview_section h2{
    color: #fff;
    font-size: 2em;
    font-weight: lighter;
    padding: 70px 10px 10px 20px;
}
.reasonsHome{
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.reasonsHome h3{
    color: #fff;
    font-size: 1.5em;
    padding-bottom: 10px;
}
.reasonsHome p{
    padding-bottom: 30px;
    font-weight: lighter;
}
.reasonsEnd{
    order: -1;
    margin-bottom: 40px;
}

.reasonsEnd h4{
    margin: 0 0 20px;
}

.reasonsEnd h5{
    font-weight: lighter;
    padding-top: 25px;
}

.reasonsEnd a{
    font-weight: normal;
}

.reasonsHorizontal{
    display: inline-block;
    /* overflow-x: hidden; */
    width: 100%;
    /* height: 300px; */
    position: relative;
    overflow: hidden;
}
.reasonScroll{
    /* position: relative;
    left: 120%;
    /* overflow: auto; */
   /* overflow: hidden;
    top: -209px; */
    position: absolute;
    top: 0px;
    left: 150%;
    /* transition: all 2s ease; */
}
.default{
    position: static;
}

/* .first{
    left:10%;
} */

/* .second{
    top: -416px;
}

.third{
    top: -624px;
} */



#clients_section{
    background-color: #E6E6E6;
}

#clients_section h2 {
    font-size: 1.5em;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    padding: 70px 10px 20px;
    text-align: center;
}

.clientLogos img{
    width: 110px;
    height: 100%;
    padding: 20px;
}

#contact_section{
    background-color: #FFF;
    height: 100%;
}

.clientLogos{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 50px;
    justify-content: center;
}

#pizzahutLogo{
    width: 55px;
    padding: 10px 20px;
}
#contact_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contactCont h2{
    text-align: center;
    padding: 70px 50px 30px;
    font-size: 1.6em;
    font-weight: lighter;
}

.contactForm{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

hr{
    width: calc(100% - 100px);
    margin-top: 50px;
    border-top: 1px solid #dadada;
}

.form input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 15px;
    border-width: thin;
    border-style: solid;
    border-color: #969696;
    border-width: 1px;
    font-size: 12px;
    color: #757575;
  }
.form label{
    padding-left: 17px;
}

.submitBtn{
    width: 40%;
    margin: auto;
}
.contactInfo{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}
.location {
    width: 250px;
}
.cInfoSection p{
    font-weight: lighter;
    padding: 10px 0;
}
.emails p{
    padding-bottom: 30px;
}
.social img{
    /* padding: 20px; */
    padding: 10px;
}
.social h3{
    padding-left: 10px;
}
.cInfoSection {
    padding: 20px 10px;
}
footer{
    background-color: black;
    color: white;
    padding-bottom: 70px;
}

.footerCont{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 30px 0;
}

.footerAequos{
    width: 100%;
}
.sitemap{
    width: 100%;
    padding: 30px 0;
}

.footerAequos h2{
    font-size: 1.7em;
    letter-spacing: 8px;
    padding: 0 0 10px 0;
}
.footerCont p{
    font-weight: lighter;
    padding: 8px 0;
}
.copyright{
    padding-bottom: 20px;
    font-weight: lighter;
}
.footerCont h3{
    padding: 15px 0;
}
.navi{
    height: 15px;
    vertical-align: middle;
    padding: 5px;
}
.leftArrow{
    height: 30px;
}
.rightArrow{
    height: 30px;
}
.navReasons{
    text-align: center;
    display: block;
}
.toRight, .toLeft{
    background: none;
    border: none;
}




/*

MEDIA QUERIES

*/


@media screen and (min-width: 500px){
    #main_heading{
        padding-top: 12vh;
    }
    #main_heading h2 {
        font-size: 3.6em;
        padding-left: 4px;
    }
    #main_heading h3 {
        padding: 0 30px 30px 10px;
        font-size: 1.5em;
    }
    #TFMLogo{
        height: 60px;
    }
    #heading_bottom p {
        left: 49.5%;
    }
    #dropDown{
        left: 50%;
    }
    .services_main{
        margin: 20px 50px 50px 50px;
    }
    #services_section h2 {
        font-size: 5em;
        margin-left: 0;
        text-align: center;
    }
    #subSection_par {
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
        font-size: 1.2em;
        width: 400px;
    }
    #chattext{
        display: block;
    }
    .subSection h3{
        text-align: center;
    }
    #overviewCont{
        text-align: center;
        /* font-size: 1.2em; */
    }
    #overview_section h2{
        font-size: 1.8em;
    }
    .reasonsHome{
        margin: 20px auto;
        width: 400px;
    }
    .reasonsHome p{
        text-align: justify;
    }
    .reasonsHome h3{
        font-weight: lighter;
    }
    .reasonsEnd {
        order: 0;
        margin-bottom: 60px;
        margin-top: 30px;
        color: #fff;
    }
    #clients_section h2 {
        font-size: 2em;
        padding: 70px 10px 20px;
    }
    .contactForm{
        width: 400px;
    }
    .contactInfo{
        justify-content: space-evenly;
    }
    .footerAequos{
        width: 50%;
    }
    .sitemap{
        width: 25%;
        padding: 0;
    }
    .footerCont h3 {
        padding: 0 0 15px 0;
    }
    .reasonScroll{
        position: static;
    }
    .navReasons {
        display: none;
    }
    .default, .first, .second, .third{
        position: static;
    }
}

@media screen and (min-width: 700px){
    #main_heading h1 {
        font-size: 5.5em;
    }
    #services_section h2 {
        font-size: 6em;
        transition: font-size .25s ease-in;
        margin-left: 0;
        text-align: center;
        padding-top: 120px;
    }
    #services_section h4{
        font-size: 1em;
    }
    #subSection_par {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.3em;
        transition: width .20s ease-in;
        padding-bottom: 20px;
        width: 500px;
    }
    .subSection h3 {
        text-align: center;
    }
    .services_main{
        margin: 0 auto 50px;
    }

    #chatbubble {
        right: 30px;
        height: 80px;
    }
    .subSection h3{
        font-size: 2em;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
    .services_main{
        display: flex;
        padding-top: 50px;
        justify-content: space-between;
        width: 600px;
        font-size: 1.2em;
    }
    .serv_sections{
        padding: 0 10px 0 20px;
        min-width: 171px;
    }
    .service_shortDescr{
        font-size: 1em;
        padding-top: 10px;
    }
    #sdWan_section {
        font-size: 1.2em;
    }
    .sdHome h2 {
        text-align: center;
        font-size: 3em;
        padding-top: 120px;
    }
    .sdHomeDescr{
        margin: 20px 50px;
    }

    .sdHomeDescr h3{
        text-align: center;
        font-weight: lighter;
        font-size: 1.5em;
        padding-top: 30px;
    }
    #overview_section{
        background: url(../images/Girl.png);
        background-repeat: no-repeat;
        background-position: -106px 200px;
        background-size: 541px;
        transition: background-size .25s ease-in;
        background-color: #00A0E5;
    }
    #overviewCont{
        text-align: center;
        font-size: 1.2em;
        display: flex;
        /* background: url("../images/Girl.png");
        background-repeat: no-repeat;
        background-position: -123px 66px;
        background-size: 778px;
        transition: background-size .25s ease-in; */
        /* background-color: #00A0E5; */
    }
    #overview_section h2 {
        font-size: 2em;
        text-align: left;
        padding: 120px 0 0 40px;
        width: 272px;
    }
    .reasonsHome{
        margin: 120px 60px 50px 0;
        text-align: left;
        width: 500px;
    }
    .reasonsHome p{
        text-align: justify;
        font-size: 0.9em;
    }
    .reasonsEnd {
        order: 0;
        margin-bottom: 60px;
        margin-top: 30px;
    }
    .reasonsEnd h4{
        font-weight: lighter;
    }
    .contactForm{
        width: 600px;
    }
    .oneLine{
        width: 46%;
    }
    .namePhoneCont{
        display: flex;
        justify-content: space-between;
    }
    .contactCont h2{
        font-size: 2em;
    }
    .form input, textarea{
        font-size: 0.8em;
    }
    .footerAequos{
        width: 60%;
    }
    .sitemap{
        width: 15%;
    }
    .copyright{
        padding-bottom: 30px;
    }
}
@media screen and (min-width: 960px){
    #hamburger, #hamburgerBlack{
        display: none;
    }
    .header_menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.9);
        position: fixed;
        top: 0;
        width: 100%;
        height: 62px;
    }
    .header_menu ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 0.3em;
        align-items: center;
        padding-right: 50px;
        text-align: center;
        padding-top: 0;
    } 
    .header_menu li {
        padding: 10px;
        min-width: 75px;
    }
    #hamburgerCont{
        height: 0;
    }
    #header_name h3 {
        padding: 16px 0 15px 50px;
        letter-spacing: 8px;
        font-size: 2em;
        display: flex;
    }
    .nav_line{
        padding: 8px;
        display: block;
        font-size: 3em;
        padding-top: 5px;
    }
    .header{
        z-index: 50;
        position: fixed;
    }
    #main_heading h1 {
        font-size: 7em;
    }
    #main_heading h2 {
        padding-left: 8px;
    }
    .subSection{
        margin-left: 368px;
    }
    #services_section{
        background-image: url("../images/Man.png");
        background-repeat: no-repeat;
        background-position: -123px 93px;
        background-size: 596px;
        /* background-attachment: fixed; */
        transition: background-size .25s ease-in;
    }
    #services_section h2 {
        font-size: 8.5em;
        transition: font-size .25s ease-in;
        margin-left: 28vw;
    }
    #subSection_par {
        width: 500px;
    }
    #TFMLogo{
        height: 100%;
    }
    #chattext {
        position: fixed;
        right: 30px;
        top: 76vh;
        height: 60px;
        display: block;
    }
    #chatbubble {
        position: fixed;
        right: 30px;
        top: 82vh;
        height: 80px;
        display: block;
    }
    #sdWan_section {
        font-size: 1.2em;
    }
    .sdHome{
        margin: 0;
    }
    .sdHome h2 {
        font-size: 5em;
        margin-left: 40%;
        text-align: left;
    }
    .sdHomeDescr{
        width: 500px;
        position: relative;
        margin: 0 0 10px 40%;
    }
    .sdHomeDescr h3{
        text-align: left;
        font-size: 2em;
        padding: 0;
    }
    .sdHomeDescr p {
        padding-bottom: 30px;
        width: 500px;
    }
    #hybridIcon{
        height: 120px;
        padding: 20px 30px;
    }
    #lifecycleIcon{
        height: 120px;
        padding: 20px 30px;
    }
    #cloudIcon{
        height: 120px;
        padding: 20px 30px;
    }
    .sdIconsHome{
        justify-content: left;
        padding: 40px 20px 40px 100px;
    }
    #overview_section{
        background-position: -11px 200px;
    }
    #overview_section h2 {
        font-size: 2.5em;
        padding: 70px 100px 0 40px;
    }
    #overviewCont{
        justify-content: center;
    }
    #clients_section h2 {
        font-size: 4em;
        font-weight: lighter;
        display: flex;
        justify-content: center;
        padding: 80px 0 50px;
    }
    .clientLogos img {
        width: 150px;
        height: 100%;
        padding: 20px;
    }
    #pizzahutLogo{
        width: 70px;
    }
    #motorLogo{
        padding: 10px 20px;
    }
    .contactCont h2 {
        font-size: 3em;
    }
    .contactInfo{
        justify-content: space-between;
        margin: 50px;
    }
    .location {
        width: 350px;
    }
    .footerCont p {
        font-weight: lighter;
        padding: 10px 0;
    }
}

@media screen and (min-width: 1130px){
    #main_heading{
        font-size: 1em;
    }
    #services_section{
        font-size: 1em;
        transition: font-size .20s ease-in;
        background: url("../images/Man.png");
        background-repeat: no-repeat;
        background-position: -142px 144px;;
        background-size: 797px;
        /* background-attachment: fixed; */
        transition: background-size .25s ease-in;
    }
    #services_section h2{
        font-size: 8.5em;
        margin-left: 35%;
        padding-top: 10vh;
    }
    #subSection_par{
        font-size: 1.5em;
        padding: 10px 0 10px 1%;
        width: 600px;
        margin-left: 45vw;
    }

    .subSection{
        font-weight: lighter;
        margin-left: 0;
        margin-bottom: 100px;
    }
    .subSection h3{
        font-size: 2em;
        /* padding-left: 33%; */
        width: 600px;
        /* text-align: center; */
        /* margin-left: auto; */
        margin-right: auto;
        margin-left: 45vw;
        padding: 10px 0 10px 1%;
        text-align: center;
    }
    .services_main{
        display: flex;
        padding-left: 46vw;
        padding-top: 50px;
        justify-content: space-between;
        width: 600px;
        font-size: 1.2em;
        margin: 0;
    }
    .serv_sections{
        padding: 0 10px 0 20px;
        min-width: 171px;
    }

    .serv_sections h4{
        font-size: 1em;
    }
    .service_shortDescr{
        font-size: 1em;
        padding-top: 10px;
    }
    .sdHome h2 {
        margin-left: 47%;
    }
    .sdHomeDescr{
        margin: 0 0 10px 47%;
    }
    #overview_section {
        background-position: -1px 200px;
        background-size: 695px;
    }
    #overviewCont {
        justify-content: center;
    }
    #overview_section h2 {
        font-size: 3.5em;
        padding: 70px 160px 0 40px;
    }
    .clientLogos img {
        padding: 20px 55px;
    }
    #safestoreLogo{
        padding-top: 23px;
    }
    
}

@media screen and (min-height: 400px) and (min-width: 960px){
    #chattext{
        display: block;
        right: 55px;
    }

}

@media screen and (min-height: 550px){
    #TFMlogo_heading {
        margin-top: 3vh;
    }
    #heading_bottom p {
        top: 86vh;
    }
    /* #chattext{
        display: block;
    } */
}

@media screen and (max-width: 500px) and (min-height: 700px){
    #TFMLogo {
        height: 60px;
        transition: height .25s ease-in;
    }
    #TFMlogo_heading {
        margin-top: 5vh;
    }
    #chattext{
        display: block;
    }
}

@media screen and (min-height: 800px){
    #chattext{
        top: 74vh;
    }
    #main_heading{
        transition: margin-top .25s ease-in; 
        padding-top: 23vh;
    }
    #TFMlogo_heading {
        margin-top: 5vh;
    }
    #heading_bottom p {
        top: 90vh;
    }
}

@media screen and (min-height: 900px) and (min-width: 800px){
    #chattext{
        top: 77vh;
    }
    #chatbubble {
        top: 85vh;
    }
}


@media screen and (max-width: 700px) and (max-height: 700px){
    #main_heading h1{
        font-size: 3em;
        transition: font-size .25s ease-in;
    }
}


/* @media screen and (max-height: 650px){
    
    #chatbubble{
        height: 60px;
    }
    #heading_bottom p{
        top: 88vh;
    }
    #main_heading{
        padding-bottom: 0vh;
    }
} */

/* @media screen and (max-height: 700px){
    #TFMLogo{
        margin-left: 30px;
        margin-top: 0vh;
        /* height: 50px; */
      /*  transition: height .25s ease-in;
    }
   /* #main_heading{
        padding-bottom: 0vh;
    }
} */

/* @media screen and (max-width: 1130px){
    #services_section{
        font-size: 0.8em;
        transition: font-size .20s ease-in;
    }
    #subSection_par{
        width: 450px;
        transition: width .20s ease-in;
    }
}
@media screen and (max-width: 690px) and (min-width: 500px){
    #services_section h2{
        font-size: 5em;
    }
    #subSection_par {
        margin-left: 20px;
    }
} */
